#topNav {
  background: #383838;
  box-shadow: 0px 1px 10px 10px lightgray;
  height: auto;
  text-align: center;
  width: 100%;
}
#topNav > ul > li {
  display: inline;
}
#topNav > ul > li > a
{
  color: white;
  display: inline-block;
  height: 60px;
  line-height: 60px;
  margin: 0px;
  padding: 0px 15px;
  text-decoration: none;
  transition: color 0.3s ease-in;
}
#topNav > ul > li > a:hover {
  color: lightblue;
}
h1 {
  text-decoration: underline;
  font-family: lucida handwriting;
  text-align: center;
}
h2 {
  font-family: lucida handwriting;
  text-decoration: underline;
  text-align: center;
}
h3 {
  font-family: lucida handwriting;
  text-decoration: underline;
  text-align: center;
}
h4 {
  font-family: lucida handwriting;
  text-decoration: underline;
  text-align: center;
}
html {
  background-color: #e7f5fe;
}
figcaption {
  text-align: center;
  font-style: italic;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
p {
  max-width: auto;
  margin: auto;
  font-family: monaco;
}
ul{
  font-family: monaco;
}
ol{
  font-family: monaco;
}
video.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
ul.nav li{
  font-family: lucida handwriting;
  font-size: 20px
}
table {
  text-align: center;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}
th, td {
  padding: 15px;
}
th {
  font-family: lucida handwriting;
}
td {
  border: 1px solid;
  font-family: monaco;
}
.choice {
  font-style: italic;
  font-family: papyrus;
  font-weight: bold;
}
